<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/posts/create" method="POST" enctype="multipart/form-data">
        <input placeholder="title" type="text" name="title">
        <input placeholder="body" type="text" name="body">
        <input placeholder="extra" type="text" name="extra">
        <label>
            Tipo de post
            <input placeholder="" type="radio" name="postTypeId" id="" value="1">
            <input placeholder="" type="radio" name="postTypeId" id="" value="2">
            <input placeholder="" type="radio" name="postTypeId" id="" value="3">
        </label>
        <input placeholder="images" type="file" name="images" id="" multiple>
        <button type="submit">
            <div>enviar</div>
        </button>
    </form>
</body>
</html>